# virtual envs
.venv/
.venv_build/
venv/
__pycache__/
*.pyc

# local data / debug
data/screenshots/
src/entropia_skillscanner/ocr_debug.py
*.csv

# third party local drops (if you don't want it versioned)
third_party/

#egg
entropia_skillscanner.egg-info/